*{
    box-sizing: border-box;
}

body{
    margin:50px;
    font-size:20px;
}

h1{
    font-family: 'indie flower';
}


table{
    width:600px;
}

table thead{
    background-color: #00ff00
}

th, td{
    border:1px solid black;
    padding: 10px;
    text-align: left;
}

table tbody{
    background-color: white;;
}
tbody tr:hover{
    background-color: gray;
}
